@import components/mixin
html
    font-size: 1px
    +media(2200)
        font-size: 2px

body
    margin: 0
    padding: 0
    font-family: 'Montserrat'
    scroll-behavior: smooth
    
ul
    li
        list-style: none
a
    text-decoration: none

p
    margin: 0

h1
    margin: 0
    padding: 30rem 0 40rem
    font-size: 18rem
    font-family: 'Roboto Slab'
    text-transform: uppercase
    color: #fff
    font-weight: 400
    text-align: center

section
    padding: 0 0 100rem
    opacity: 0
    transform: translateX(20px)
    transition: opacity 2s ease, transform 0.3s ease

h2 
    margin: 0
    padding-bottom: 60rem
    font-size: 20rem
    line-height: 1.1em
    font-weight: 400
    color: #555555
    text-transform: uppercase
    text-align: center

hr
    margin: 30rem 0
    border: none
    border-top: 1px solid #dddddd

figure
    margin: 0

input,
textarea
    width: 100%
    padding: 15rem
    font-size: 12rem
    line-height: 1.7em
    text-transform: uppercase
    color: #555
    font-weight: 400
    font-family: "Roboto Slab"
    appearance: none
    outline: none
    border: none
    border: 1px solid #555
    box-sizing: border-box
    &:focus
        border: 1px solid #c0301c

textarea 
    max-width: 700rem
    min-height: 105rem
    max-height: 250rem

.d-flex
    display: flex
    justify-content: space-between

.wrapper-mobile
    padding: 0 15rem
    margin: 0 15rem
    +media(769)
        margin: 0

.wrapper
    padding: 0 15rem
    position: relative
    z-index: 1
    +media(769)
        margin: 0 auto
        max-width: 1140rem

.parallax-header 
    position: relative
    overflow: hidden

.opacity-bg
    position: absolute
    top: 0
    left: 0
    bottom: 0
    width: 100%
    background-color: #000
    opacity: 0.451
    z-index: 1

.parallax-bg 
    position: absolute
    top: -10rem
    left: -20rem
    bottom: 0
    width: 110%
    height: 101.5%
    background: url(../img/startup-hero-bg.jpg) no-repeat
    background-position: top
    background-size: cover

.navigation
    padding: 30rem 0
    flex-direction: column
    align-items: center
    row-gap: 20rem
    z-index: 5
    +media(769)
        padding: 10rem 65rem
        width: 90%
        position: fixed
        top: 20rem  
        left: 0
        flex-direction: row
        align-items: center

.fixed-header
    +media(768)
        padding-top: 100rem

.fixed-navigation
    +media(768)
        position: fixed
        top: 0
        left: 0
        width: 100%
        z-index: 3
        transition: all .5s ease

.scrolled
    padding: 30rem 0
    transition: all .5s ease
    background-color: #d12525
    opacity: 0.5

.name-company
    font-size: 24rem
    line-height: 1.5em
    color: #fff
    font-weight: 700

.decstop-menu 
    display: none
    +media(769)
        display: block
        width: 100%

.menu
    padding: 0
    flex-direction: column
    row-gap: 20rem
    align-items: center
    +media(768)
        flex-direction: row
        column-gap: 40rem
        align-items: center

.nav-menu
    position: relative
    display: inline-block
    padding: 6rem 0
    font-size: 14rem
    line-height: 1.7em
    color: #fff
    font-weight: 400
    &::after 
        content: ""
        position: absolute
        top: 12rem
        left: 0
        display: inline-block
        height: 1em
        width: 100%
        border-bottom: 1px solid #fff
        margin-top: 10px
        opacity: 0
        transition: all 1s ease
        transform: scale(0,1)
    &:hover::after 
        opacity: 1
        transform: scale(1)

.basket
    fill: #fff

.burger-logo
    padding-top: 20rem
    align-items: center
    z-index: 2
    +media(769)
        display: none

.mobile
    position: fixed
    top: -200%
    left: 0
    width: 100%
    height: 100%
    background-color: #af4f37
    transition: all 1s ease
    z-index: 2
    li
        margin: 0
    +media(769)
        display: none

.mobile-menu
    opacity: 0
    transform: all 2s ease

.activemobile
    opacity: 1
    top: 0

.burger
    position: relative
    display: block
    margin: 0 25rem
    padding: 20rem 0
    width: 30rem
    height: 30rem
    z-index: 3
    cursor: pointer
    +media(769)
        display: none
        
.burger-fix
    position: fixed
    top: 20rem
    right: 0

.bord
    display: block
    background-color: #fff
    width: 100%
    height: 2rem 
    box-shadow: 0 0 5rem 2rem #af4f37
    z-index: 5
    &::before,
    &::after
        position: absolute
        content: ""
        background-color: #fff
        width: 100%
        height: 2rem 
        box-shadow: 0 0 5rem 2rem #af4f37
        z-index: 5

.bord
    &::before
        top: 32rem
        right: 0
    &::after
        right: 0
        bottom: 22rem

.active
    padding: 0
    .bord
        background-color: transparent   
        box-shadow: 0 0 0 0
        &::before
            top: 28rem
            transform: rotate(45deg)
        &::after
            bottom: 0
            transform: rotate(-45deg)
                
.start-info
    position: relative
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 265rem 0
    z-index: 1

.popup 
    display: none
    padding: 25rem
    width: 300rem
    height: 350rem
    background-color: #f2f2f2
    padding: 20rem
    position: absolute
    top: 0%
    left: 50%
    border: 1rem solid #ccc
    border-radius: 10rem
    transform: translateX(-50%)
    +media(768)
        width: 500rem
        height: 350rem
    p
        padding-bottom: 25rem
        font-size: 14rem
        line-height: 2em
        color: #000
        text-transform: uppercase
        text-align: center

.drag-area 
    height: 100rem
    display: flex
    justify-content: space-between
    margin-bottom: 20rem

.block 
    width: 30rem
    height: 30rem
    font-size: 14rem
    background-color: #d12525
    color: #fff
    text-align: center
    line-height: 30rem
    cursor: grab
    +media(768)
        width: 50rem
        height: 50rem
        line-height: 50rem

.block-place
    width: 80rem
    height: 80rem
    border: 1px solid #e87979
    background-color: #e87979
    flex-wrap: wrap
    +media(768)
        width: 100rem
        height: 100rem

.block:active 
    cursor: grabbing

.welcome-text
    font-size: 48rem
    text-transform: uppercase
    color: #fff
    font-weight: 400
    text-align: center

.cta
    position: relative
    max-width: 180rem
    padding: 11rem 32rem
    font-size: 16rem
    line-height: 1.5em
    text-transform: uppercase
    color: #fff
    font-weight: 400
    text-align: center
    border-radius: 2rem
    border: 2rem solid #fff
  
.opacity-bgCart
    position: fixed
    top: 0
    width: 100%
    height: 100%
    background-color: #392929
    opacity: 0.7
    z-index: 4

.basket-display
    display: none

.cart
    position: fixed
    padding: 25rem
    top: 50%
    left: 50%
    max-width: 900rem
    min-width: 520rem
    max-height: 100%
    background-color: #fff
    border-radius: 10rem
    transform: translate(-50%, -50%)
    z-index: 6
    h3,
    p,
    li
        font-size: 20rem
        color: #545454

.carts-items
    p
        display: flex
        justify-content: space-between
        align-items: center
        max-width: 520rem
        padding: 20rem
        text-align: start

.card-pay
    position: relative

.remove-from-cart,
.add-to-cart
    position: absolute
    transform: translateY(-50%)
    cursor: pointer

.remove-from-cart
    top: 50%
    right: 14%

.add-to-cart
    top: 50%
    right: 2%

.cancel-basket
    position: absolute
    top: 20rem
    right: 30rem
    transform: rotate(-45deg)
    cursor: pointer

.enter-cart
    display: inline-block
    padding: 10rem
    font-size: 15rem
    color: #545454
    border: 1px solid #545454
    border-radius: 5rem
    transition: all .5s ease
    &:hover
        color: #fff
        background-color: #c0301c
        border: 1px solid transparent
    

.section-head
    position: relative
    padding: 100rem 0 73rem
    p 
        margin: 0
        font-size: 16rem
        line-height: 1.5em
        color: #555555
        font-family: "Roboto Slab"
        text-align: center

.line
    position: absolute
    top: 53%
    left: 50%
    width: 50rem
    background-color: #555
    border-top: 2rem solid #555
    transform: translateX(-50%)

.service-description
    padding: 69rem 0 100rem
    justify-content: center
    column-gap: 25rem
    row-gap: 25rem
    flex-wrap: wrap
    +media(768)
        justify-content: space-between
        flex-wrap: nowrap

.card-figure
    max-width: 345rem
    flex-direction: column
    align-items: center
    +media(768)
        padding: 0 15rem

.circle
    position: relative
    width: 90rem
    height: 90rem
    border-radius: 50%
    border: 2rem solid #dddddd
    background-color: #fff
    transition: all 1s ease
    &:hover
        background-color: #c0301c
    &:hover > svg
        fill: #fff
    svg
        position: absolute
        top: 50%
        left: 50%
        fill: #c0301c
        transform: translate(-50%, -50%)

.personal
    padding: 30rem 0

.personal,
.description
    font-size: 14rem
    line-height: 1.7em
    text-transform: uppercase
    color: #555
    font-weight: 400
    text-align: center

.description
    text-align: center
    font-family: "Roboto Slab"
    text-transform: none

.about-us-bg
    background-color: #f8f8f8

.about-us-info
    flex-wrap: wrap
    column-gap: 32rem
    row-gap: 32rem
    justify-content: center
    +media(768)
        justify-content: space-between
        flex-wrap: nowrap

.info-block
    padding: 20rem 0
    font-size: 14rem
    line-height: 1.7em
    color: #555555
    font-weight: 400
    font-family: "Roboto Slab"
    +media(768)
        padding: 70rem 0 

.carousel-container
    width: 260rem
    margin: 0 auto
    text-align: center
    position: relative
    overflow: hidden
    +media(600)
        width: 550rem
    +media(850)
        width: 850rem
    +media(1140)
        width: 100%
    +media(2200)
        width: 100%

.carousel
    position: relative
    width: 100%
    height: 400rem
    column-gap: 30rem
    +media(768)
        padding: 0
        
.carousel-item 
    position: absolute
    top: 0

.figure-workers
    margin: 0
    width: 263rem
    height: 100%

.worker-img
    position: relative
    width: 100%

.name-worker
    padding: 21rem 0 15rem
    font-size: 14rem
    line-height: 1.7em
    text-transform: uppercase
    color: #555555
    font-family: "Montserrat"
    text-align: center

.work
    font-size: 13rem
    line-height: 1.7em
    color: #555555
    font-weight: 400
    font-family: "Roboto Slab"
    text-align: center
    
.social-work
    display: none        

.position-work
    position: absolute
    top: 60%
    left: 50%
    transform: translate(-50%, -50%)

.social-icon-work
    position: relative
    display: inline-block
    width: 28rem
    height: 28rem
    transition: all .5s ease
    &:hover
        background-color: #c0301c
    svg
        position: absolute
        top: 50%
        left: 50%
        fill: #fff
        transform: translate(-50%, -50%)

.btn-carousel
    position: absolute
    top: 30%
    width: 36rem
    height: 36rem
    background-color: #555
    border: none
    opacity: 0.2
    transform: translateY(-50%)
    transition: all 1s ease
    cursor: pointer
    &:hover
        opacity: 1
        background-color: #c0301c

.left
    left: 0
    &::before
        content: ""
        position: absolute
        top: 50%
        left: 55%
        width: 10rem
        height: 10rem
        border-top: 2px solid #ddd
        border-left: 2px solid #ddd
        transform: translate(-50%,-50%) rotate(-45deg)

.right
    right: 0
    &::before
        content: ""
        position: absolute
        top: 50%
        left: 45%
        width: 10rem
        height: 10rem
        border-top: 2px solid #ddd
        border-left: 2px solid #ddd
        transform: translate(-50%,-50%) rotate(135deg)

.work-nav
    width: 100%
    align-items: center
    justify-content: center

.menu-work
    padding: 0
    flex-wrap: wrap
    column-gap: 15rem
    +media(460)
        column-gap: 30rem
    a
        font-size: 12rem
        line-height: 1.5em
        color: #555
        font-weight: 400
        font-family: "Roboto Slab"
        transition: all .5s ease
        +media(460)
            font-size: 16rem
        &:hover
            color: #c0301c

.brands 
    padding-bottom: 100rem
    justify-content: center
    flex-wrap: wrap
    column-gap: 30rem
    row-gap: 30rem
    +media(1140)
        justify-content: flex-start

.img-cards 
    position: relative
    width: 150rem
    max-height: 320rem
    +media(768)
        width: 250rem
    +media(1170)
        width: 100%
    img
        width: 100%
        object-fit: cover
    
.click-block
    display: none
    position: absolute
    width: 100%
    height: 100%
    background-color: #c0301c
    top: 0
    left: 0
    opacity: 0.7
    z-index: 3

.active-red
    display: block

.text-block
    display: none
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    flex-direction: column
    justify-content: center
    align-items: center
    z-index: 3

.active-text
    display: flex

.head-block
    padding: 0 0 16rem
    font-size: 18rem
    line-height: 1.33em
    color: #fff
    font-weight: 400
    text-align: center
    text-transform: none

.descript-block,
.price
    padding-bottom: 27rem
    font-size: 12rem
    line-height: 2em
    color: #ffffff
    font-weight: 400
    font-family: "Roboto Slab"
    text-align: center
        
.cta-block
    position: relative
    display: inline-block
    padding: 8rem 32rem 8rem 21rem
    font-size: 14rem
    line-height: 1.7em
    text-transform: uppercase
    background-color: #fff
    color: #c0301c
    font-weight: 400
    font-family: "Roboto Slab"
    &::before
        position: absolute
        content: ""
        top: 50%
        right: 18rem
        width: 8rem
        height: 8rem
        border-top: 1rem solid #c0301c
        border-left: 1px solid #c0301c
        transform: translateY(-50%) rotate(135deg)

.progect-talk
    position: relative
    padding: 100rem 0
    flex-direction: column
    align-items: center
    justify-content: center
    z-index: 4
    p
        position: relative
        padding-bottom: 72rem
        max-width: 454rem
        font-size: 30rem
        line-height: 1.5em
        color: #ffffff
        font-weight: 400
        font-family: "Roboto Slab"
        text-align: center
        z-index: 4

.progect-talk
    overflow: hidden

.paralax-opacity
    position: absolute
    top: 0
    left: 0
    bottom: 0
    width: 100%
    height: 100%
    background-color: #c0301c
    opacity: 0.6
    z-index: 1

.paralax-image
    position: absolute
    top: -3rem
    left: -20rem
    bottom: 0
    width: 110%
    height: 100%
    background: url("../img/bcgsecond.png") no-repeat
    background-position: top left
    background-size: 100% 150%
    

.get-touch
    position: relative
    z-index: 4
    transition: all 1s ease
    &:hover
        transform: scale(1.1)

.blog-card
    flex-wrap: wrap
    justify-content: center
    column-gap: 30rem
    row-gap: 30rem
    +media(920)
        justify-content: space-between
        flex-wrap: nowrap

.img
    img
        width: 100%
        object-fit: cover
        +media(768)
            width: auto

.date
    position: relative
    width: 72rem
    height: 72rem
    border: 2px solid #555555
    p
        position: absolute
        top: 50%
        left: 50%
        font-size: 24rem
        letter-spacing: 2rem
        text-transform: uppercase
        color: #777777
        font-weight: 700
        text-align: center
        transform: translate(-50%, -50%)
        span
            font-size: 14rem
            font-weight: 700
   
.name-flex
    justify-content: flex-start
    padding-bottom: 23rem

.head-startup
    padding-left: 28rem

.head-name
    padding-bottom: 15rem
    font-size: 16rem
    line-height: 1.5em
    text-transform: uppercaser
    color: #555555
    font-weight: 400
    font-family: "Montserrat"
    text-align: center

.name-recent
    font-size: 13rem
    line-height: 1.7em
    color: #777777
    font-weight: 400
    font-style: italic
    font-family: "Roboto Slab"

.description-more 
    max-height: 0
    overflow: hidden
    transition: max-height 1s ease

.visible 
    max-height: 1000rem
    transition: max-height 1s ease

.description-blog,
.description-more
    margin-bottom: 34rem
    font-size: 14rem
    line-height: 1.7em
    color: #555555
    font-weight: 400
    font-family: "Roboto Slab"
    text-align: start
    transition: all 1s ease

.btn,
.btn-cancel
    display: inline-block
    font-size: 13rem
    letter-spacing: 1px
    line-height: 1.7em
    text-transform: uppercase
    color: #777777
    background-color: transparent
    font-weight: 700
    font-family: "Roboto Slab"
    border: none
    text-align: center
    transition: all .5s ease
    cursor: pointer
    &:hover
        color: #c0301c

.btn-cancel
    display: none

.partners-carousel
    position: relative
    top: 0
    left: 50%
    max-width: 200rem
    max-height: 300rem
    overflow: hidden
    transform: translateX(-50%)
    +media(425)
        max-width: 425rem
    +media(768)
        max-width: 650rem
    +media(1024)
        max-width: 1000rem

.partner-section
    background-color: #f8f8f8

.partner
    position: relative
    left: -170rem
    column-gap: 60rem
    
.partner-img  
    position: relative
    min-width: 142rem
    height: 60rem
    img
        width: 100%
        position: relative
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

.coments
    position: relative
    width: 100%
    min-height: 145rem
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 68rem 0 100rem
    text-align: center

.coment
    position: absolute
    max-width: 763rem
    font-size: 18rem
    line-height: 1.7em
    color: #555555
    font-weight: 400
    font-family: "Roboto Slab"
    text-align: center
    opacity: 0
    transition: opacity 0.5s ease
    span
        padding-top: 43rem
        display: block

.coment.active 
    opacity: 1

.coment-two,
.coment-second
    display: none

.circle-button-block
    position: absolute
    top: 50%
    left: 50%
    padding-top: 79rem
    column-gap: 5rem
    transform: translateX(-50%)

.input-coment
    display: none
    
.input-coment + label
    position: relative
    left: 0
    top: 0
    width: 13rem
    height: 13rem
    border-radius: 50%
    padding-left: 25rem
    display: inline-block
    cursor: pointer

.input-coment + label::before,
.input-coment + label::after
    content: ""
    position: absolute


.input-coment + label::before 
    left: 0
    top: 0
    width: 13rem
    height: 13rem
    border-radius: 50%
    background-color: #ddd
    border: none
    cursor: pointer

.input-coment:checked + label::after
    left: 0
    top: 0
    width: 13rem
    height: 13rem
    border-radius: 50%
    background-color: #be2814
    border: none
    cursor: pointer

.contacts-section
    position: relative

.contacts-form
    flex-wrap: wrap
    column-gap: 100rem
    +media(768)
        flex-wrap: nowrap
    
.contact
    padding-bottom: 15rem
    font-size: 14rem
    line-height: 2em
    text-transform: uppercase
    color: #555555

.adress,
.hotline,
.email
    max-width: 205rem
    padding: 0 0 40rem 30rem

.adress-icon,
.hotline-icon,
.email-icon
    position: relative
    &::before
        content: ""
        position: absolute
        left: -30rem

.adress-icon
    &::before
        top: 6rem
        width: 12rem
        height: 17rem
        background: url("../img/map.svg")

.hotline-icon
    &::before
        top: 4rem
        width: 13rem
        height: 20rem
        background: url("../img/phone.svg")

.email-icon
    &::before
        top: 7rem
        width: 16rem
        height: 12rem
        background: url("../img/mail.svg")

.contact-text
    font-size: 12rem
    line-height: 1.7em
    color: #555555
    font-weight: 400
    font-family: "Roboto Slab"

.text-form
    max-width: 750rem

.input-block-display
    flex-wrap: wrap
    column-gap: 30rem
    row-gap: 30rem
    padding-bottom: 30rem
    +media(980)
        flex-wrap: nowrap
        
.input-block
    min-width: 280rem
    width: 100%
    +media(980)
        min-width: 320rem

.textarea-block 
    padding-bottom: 20rem

.button-block
    column-gap: 40rem
    justify-content: flex-start
    align-items: center

.form-btn
    padding: 11rem 38rem
    font-size: 12rem
    line-height: 1.7em
    text-transform: uppercase
    color: #555555
    font-weight: 400
    font-family: "Roboto Slab"
    background-color: #fff
    border: none
    border: 1px solid #555555
    transition: all 1s ease
    cursor: pointer
    &:hover
        background-color: #555
        color: #fff
        
.coment-form
    font-size: 12rem
    line-height: 1.7em
    color: #555
    font-weight: 400
    font-family: "Roboto Slab"

.red
    color: #c0301c

.autorized-popap
    visibility: hidden
    position: absolute
    top: 50%
    left: 50%
    width: 100%
    max-width: 500rem
    height: 300rem
    background-color: #ca786d
    border-radius: 15rem
    transform: translate(-50%, -50%)
    z-index: 3

.autorized-textBlock
    position: absolute
    top: 50%
    left: 0
    transform: translateY(-50%)

.autorized-text
    padding: 15rem
    font-size: 25rem
    color: #fbf7f7
    
.name-data,
.mail-data,
.subject-data,
.company-data
    padding: 5rem 0 5rem 15rem
    font-size: 20rem
    color: #fbf7f7

.cancel-popap,
.ok
    display: inline-block
    position: absolute
    bottom: 0rem
    padding: 15rem
    font-size: 15rem
    color: #fff
    cursor: pointer
    &:hover
        color: #360d08

.cancel-popap
    left: 20rem

.ok
    right: 20rem

.footer 
    background-color: #c0301c

.footer-block
    padding: 100rem 0 
    flex-direction: column
    justify-content: center
    align-items: center
    p
        font-size: 12rem
        line-height: 1.7em
        text-transform: uppercase
        color: #fff
        font-weight: 400
        font-family: "Roboto Slab"
        text-align: center

.social
    column-gap: 13rem

.social-border
    position: relative
    width: 35rem
    height: 35rem
    border-radius: 50%
    background-color: #c0301c
    border: 2px solid #ffffff
    transition: all 1s ease
    &:hover
        transform: scale(1.1)

.fb,
.tw,
.inst,
.link
    position: absolute
    top: 50%
    left: 50%
    fill: #fff
    transform: translate(-50%, -50%)

.mini
    margin: 30rem 0
    width: 50rem
    border: none
    border-top: 2rem solid #fff





