doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, uset-scalabel=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
        link(rel="stylesheet", href="css/styles.css")
        title Document
    body 
        include components/mixin
        header.parallax-header
            .opacity-bg
            .parallax-bg
            .wrapper.wrapper-mobile
                .decstop-menu 
                    +menu(mainMenu)
                .burger-logo.d-flex
                    .logo 
                        a(href="index.html")
                            p.name-company Startup
                    .burger.burger-fix#burger 
                        span.bord 
                        .mobile-menu.mobile#mobile
                            +menu(mainMenu)
                .start-info.d-flex 
                    p.welcome-text#statusMessage Welcome to STARTUP
                    h1 Your Favourite Creative Agency Template
                    a#openPopupButton.cta(href="#") Get Started
                    div#authPopup.popup
                        div#dragArea.drag-area
                            div.block(data-order="1" draggable="true") Блок 1
                            div.block(data-order="2" draggable="true") Блок 2
                            div.block(data-order="3" draggable="true") Блок 3
                        .d-flex
                            div.block-place
                            div.block-place
                            div.block-place
                        .login-form
                            input#loginInput(type="text" placeholder="Username")
                            input#passwordInput(type="password" placeholder="Password")
                            button#loginButton Login
                        .success-message
                            p#usernameDisplay
                            p Authorization successful. Welcome!
                        p#statusMessage
                        button#tryAgainButton Try Again
        main
            section.wrapper
                .service.section-head
                    h2 Services
                    span.line
                    p We offer ipsum dolor sit amet, consetetur sadipscing elitr amet
                .service-description.d-flex
                    figure
                        figcaption.card-figure.d-flex
                            p.circle
                                svg(xmlns="http://www.w3.org/2000/svg" width="43" height="40")
                                    path(fill-rule="evenodd" d="M18.7 11.2C20.6 15 22.1 19 23.5 23H22c-2.5 0-5.1 0-7.7-.1zM0 40c1.6 0 3.2-.1 4.9-.3.3-.1.8-.3 1.2-.3 3 0 6 .6 9 .6q.1-.4.1-.7v-1.5c-1.5-.3-5.3-.3-5.3-2.3 0-1 2.6-7.9 3.3-9.4l11.6.1c.4 1.1 3.7 8.8 3.7 9.7 0 1-1.3 1.2-2 1.3l-3.4.8q-.1 1-.1 2c3.4-.1 6.8-.4 10.1-.4s6.6.4 9.9.4v-.7c0-.5-.1-.9-.1-1.4-1.3-.5-3.6-.7-4.5-1.3-.4-.3-.7-1.1-.9-1.5-1.3-2.7-2.2-5.5-3.4-8.2-1.9-4.6-3.7-9.2-5.6-13.8L23.2.6q-.2-.3-.3-.6h-3.3l-7.3 18.9-6.1 16C5.1 37.7 2.5 37.2.1 38z")
                            p.personal Clean Typography
                            p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
                    figure
                        figcaption.card-figure.d-flex
                            p.circle
                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53 40" width="53" height="40")
                                    path(fill-rule="evenodd" class="a" d="m16.6 32.7c0.4-0.4 0.4-0.9 0-1.3l-11.3-11.4 11.3-11.4c0.4-0.4 0.4-0.9 0-1.3l-1.4-1.5c-0.4-0.4-1-0.4-1.4 0l-13.4 13.5c-0.4 0.4-0.4 1 0 1.4l13.4 13.5c0.4 0.4 1 0.4 1.4 0zm17-31c0.2-0.4-0.1-1-0.6-1.1l-1.8-0.5c-0.5-0.2-1 0.1-1.1 0.6l-10.8 37.5c-0.1 0.4 0.1 1 0.6 1.1l1.8 0.5c0.5 0.1 1-0.1 1.1-0.6zm19 18.8c0.4-0.3 0.4-0.9 0-1.3l-13.4-13.5c-0.4-0.4-1-0.4-1.4 0l-1.4 1.4c-0.4 0.4-0.4 1 0 1.4l11.3 11.4-11.3 11.4c-0.4 0.3-0.4 0.9 0 1.3l1.4 1.4c0.4 0.4 1 0.4 1.4 0z")
                            p.personal Rock Solid Code
                            p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
                    figure
                        figcaption.card-figure.d-flex
                            p.circle
                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49 49" width="49" height="49")
                                    path(fill-rule="evenodd" class="a" d="m25 0.9c-13.3 0-24 10.7-24 24 0 13.2 10.7 24 24 24 13.2 0 24-10.8 24-24 0-13.3-10.8-24-24-24zm0 3.4c3.5 0 6.8 0.9 9.7 2.4l-5.2 5.2c-1.5-0.5-2.9-0.8-4.5-0.8q-2.3 0.1-4.5 0.8l-5.2-5.2c2.9-1.5 6.2-2.4 9.7-2.4zm-18.2 30.2c-1.5-2.9-2.4-6.2-2.4-9.6 0-3.5 0.9-6.8 2.4-9.7l5.2 5.2c-0.4 1.4-0.7 2.9-0.7 4.5q0 2.3 0.7 4.4zm18.2 10.9c-3.5 0-6.8-0.9-9.7-2.4l5.2-5.2q2.2 0.8 4.5 0.8c1.6 0 3-0.3 4.5-0.8l5.2 5.2c-2.9 1.5-6.2 2.4-9.7 2.4zm0-10.3c-5.7 0-10.3-4.6-10.3-10.2 0-5.7 4.6-10.3 10.3-10.3 5.7 0 10.3 4.6 10.3 10.3 0 5.6-4.6 10.2-10.3 10.2zm13-5.8q0.7-2.1 0.7-4.4 0-2.4-0.7-4.5l5.1-5.2c1.6 2.9 2.5 6.2 2.5 9.7 0 3.4-0.9 6.7-2.5 9.6z")
                            p.personal Expert Support
                            p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.

            section.about-us-bg
                .wrapper
                    .about-us.section-head
                        h2 About us
                        span.line
                        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
                    .about-us-info.d-flex
                        p.info-block Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
                        p.info-block Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
                    .carousel-container 
                        .carousel.d-flex 
                            .carousel-item
                                +cardWorkers(workers.workers1)
                            .carousel-item
                                +cardWorkers(workers.workers2)
                            .carousel-item
                                +cardWorkers(workers.workers3)
                            .carousel-item
                                +cardWorkers(workers.workers4)
                        button#prevBtn.btn-carousel.left
                        button#nextBtn.btn-carousel.right
            section.wrapper 
                .work.section-head
                    h2 Latest Works
                    span.line
                    +menuWork(workMenu)
                .brands.d-flex 
                    +cardMenu(cardBlock.hair)
                    +cardMenu(cardBlock.bird)
                    +cardMenu(cardBlock.notebook)
                    +cardMenu(cardBlock.photo)
                    +cardMenu(cardBlock.bycicle)
                    +cardMenu(cardBlock.note)
                    +cardMenu(cardBlock.table)
                    +cardMenu(cardBlock.canceliaria)
                    +cardMenu(cardBlock.events)
            section 
                .progect-talk.d-flex
                    .paralax-image
                    p Do you like OUR WORK so far? Let's talk about YOUR PROJECT!
                    a.get-touch.cta(href="#")  Get in Touch
                .blog.section-head
                    h2 Recent blog posts
                    span.line
                    p Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
                .wrapper
                    a(href="#").startup 
                        +blogCard(blog.startup)
                    hr
                    a(href="#").user
                        +blogCard(blog.user)
            section.partner-section.section-head
                .partner.d-flex.wrapper
                    .deorham.partner-img
                        picture 
                            img(src="img/deorham.svg", alt="")
                    .ratings.partner-img
                        picture 
                            img(src="img/ratings.svg", alt="") 
                    .malik.partner-img
                        picture 
                            img(src="img/malik.svg", alt="") 
                    .bcause.partner-img
                        picture 
                            img(src="img/bcause.svg", alt="") 
                    .womgify.partner-img
                        picture 
                            img(src="img/womgify.svg", alt="") 
                .coments
                    p.coment#coment-main 
                        i Hvaing placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum”
                        span John Doe, Google Inc.
                    p.coment-two#comentTwo 
                        i Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, pariatur.”
                        span Alina, Google Inc.
                    p.coment-second#comentSecond 
                        i Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias saepe dolores quos vitae quas recusandae.”
                        span Zavorotna, Google Inc.
                    .d-flex.circle-button-block
                        form(action="") 
                            input.input-coment(type="radio" id="coment1" name="radio-coment")
                            label.circle-btn(for="coment1") 
                            input.input-coment(type="radio" id="coment2" name="radio-coment")
                            label.circle-btn(for="coment2") 
                            input.input-coment(type="radio" id="coment3" name="radio-coment")
                            label.circle-btn(for="coment3") 
            section 
                .section-head
                    h2 Get in touch
                    span.line
                    p Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
                .contacts-form.d-flex.wrapper
                    .contacts
                        .adress
                            p.contact.adress-icon Address
                            p.contact-text 312, 7th Ave, New York 
                            p.contact-text NY 101200, United States of America
                        .hotline 
                            p.contact.hotline-icon Hotline (24x7)
                            a.contact-text(href="tel:+65 0052 300") +65 0052 300, 
                            a.contact-text(href="tel:+65 88251 210") +65 88251 210  
                            p   
                                a.contact-text(href="tel:+88 01723 511 340") +88 01723 511 340
                        .email 
                            p.contact.email-icon E-mail
                            p 
                                a.contact-text(href="email:shapedtheme@gmail.com") shapedtheme@gmail.com
                            p 
                                a.contact-text(href="email:khalilkode@gmail.com") khalilkode@gmail.com
                    .form
                        form.text-form(action="")
                            .d-flex.input-block-display
                                p.input-block
                                    label(for="name") 
                                    input#name.name(type="text" placeholder="Your name")
                                p.input-block
                                    label(for="mail") 
                                    input#mail.mail(type="text" placeholder="Your E-mail")
                            .d-flex.input-block-display
                                p.input-block
                                    label(for="subject") 
                                    input#subject.subject(type="text" placeholder="Your subject")
                                p.input-block
                                    label(for="companyName") 
                                    input#companyName.company-name(type="text" placeholder="Company name")
                            .textarea-block
                                textarea(name="message" id="message" placeholder="Write your message") 
                            .button-block.d-flex 
                                button.form-btn(type="submit") Send message
                                p.coment-form 
                                    span.red * 
                                    span We’ll contact you as as possible. We don’t reply on Monday.
        footer.footer 
            .footer-block.d-flex
                .social.d-flex
                    a.social-border(href="#")
                        svg.fb(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="11rem" height="19rem")
                            path(d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z")
                    a.social-border(href="#")
                        svg.inst(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20rem" height="19rem")
                            path(d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z")
                    a.social-border(href="#") 
                        svg.tw(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24rem" height="19rem")
                            path(d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z")
                    a.social-border(href="#") 
                        svg.link(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="21rem" height="21rem")
                            path(d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z")
                hr.mini
                p &copy 2015 Startup, Designed by ShapedTheme

    script(src="js/scripts.js")